.product__image img {
    width: auto;
    max-height: 270px;
    margin: 0 auto;
}

/*.category-page > .container {*/
/*    position: relative;*/
/*}*/

.category-page > .container > .alert {
    position: sticky;
    top: 50px;
    z-index: 5;
    right: 0;
    background: #0a58ca;
    color: white;
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    transition: opacity .3s;
}

.category-page > .container > .alert.hidden {
    opacity: 0;
}

.category-page__banner {
    width: 100%;
}

.product_favourite.active svg.active-icon {
    display: block;
}
.product_favourite.active svg.inactive-icon {
    display: none;
}
.product_favourite svg.active-icon {
    display: none;
}
.product_favourite svg.inactive-icon {
    display: block;
}

.form__input:not(.is-invalid) ~.invalid-feedback {
    display: none;
}

.invalid-feedback {
    color: red;
}

.popupform#otpModal {
    max-width: 549px;
}

.alert-favadd {
    z-index: 99999;
}
