.product__image img {
    width: auto;
    max-height: 270px;
    margin: 0 auto;
}

/*.category-page > .container {*/
/*    position: relative;*/
/*}*/

.category-page > .container > .alert {
    position: sticky;
    top: 50px;
    z-index: 5;
    right: 0;
    background: #0a58ca;
    color: white;
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    transition: opacity .3s;
}

.category-page > .container > .alert.hidden {
    opacity: 0;
}

.navigation__menu li a.active {
    color: #cc9755;
}

#filterForm {
    opacity: 0;
    transition: opacity .3s;
}

#filterForm.show {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    #filterForm .filters__hdr {
        display: none;
    }
}

.filter__wrap label.checkbox.disabled {
    opacity: 0.3;
}
